@model List<eShop.DataTransferObject.ProductDTO>
<link href="/css/product.css" rel="stylesheet" />

<section class="py-5 ">
    @{foreach (var item in Model)
        {
<div class="col mb-5 product ">
    <div class="card h-100">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <!-- Product image-->
        <form class="d-inline-block" asp-controller="Product" asp-action="ProductDetails" method="post">
            <input type="hidden" name="CategoryName" value="@item.CategoryName" />
            <input type="hidden" value="@item.UniqueID" name="ProductID" />
            <button style="border:none"><img class="card-img-top" src="@item.ThumbnailPhoto" style="height:300px" alt="სურათი" /></button>
        </form>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">@item.Name</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                @item.Price
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">კალათაში დამატება</a></div>
        </div>
    </div>
</div> } }



    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.PreviousPage > 0)
            {
<li class="page-item"><a class="page-link" asp-area="" asp-controller="Home" asp-route-page="@ViewBag.PreviousPage">Previous</a></li>
}
            @{for (int i = 1; i <= Model.Select(x => x.NumberOfPages).First(); i++)
                {
    <li class="page-item">
        <a class="page-link" asp-area="" asp-controller="Home" asp-route-page="@i" asp-action="Index">@i</a>
    </li>
 } }
            <li class="page-item"><a class="page-link" tabindex="-1" asp-area="" asp-controller="Home"  asp-route-page="@ViewBag.NextPage">Next</a></li>
        </ul>
    </nav>
</section>