@model List<eShop.DataTransferObject.CategoryDTO>

    <script src="~/js/category.js"></script>

<a class="btn btn-primary" style="margin-bottom:10px" role="button" asp-controller="Category" asp-action="AddCategory">
    კატეგორიის დამატება
</a>

<table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DateCreated</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CategoryName</td>
                <td>@item.DateCreated</td>
                <td>@item.Status</td>
                <td>
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-placement="top" data-toggle="modal" onclick="getCategory(@item.Id)" data-target="#categoryModal" title="რედაქტირება"><i class="fa fa-edit"></i></button>
                    <form asp-controller="Category" asp-action="DeleteCategory" method="post">
                        <input type="hidden" value="@item.Id" name="CategoryID" />
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i>წაშლა
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
