@model List<eShop.DataTransferObject.CategoryDTO>

<script src="~/js/category.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


<a class="btn btn-primary" style="margin-bottom:10px" role="button" asp-controller="Category" asp-action="AddCategory">
    კატეგორიის დამატება
</a>

<table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DateCreated</th>
            <th>Status</th>
            <th>რედაქტირება/წაშლა</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>@item.Id</td>
    <td>@item.CategoryName</td>
    <td>@item.DateCreated</td>
    <td>@item.Status</td>
    <td>
        <button id="editBtn" style="margin-right:5px;height:38px" class="btn btn-success btn-sm rounded-0" type="button" data-placement="top" data-toggle="modal" data-target="#categoryModal" title="რედაქტირება" data-id="@item.Id" onclick="getcategory('@item.Id')"><span class="iconify" data-icon="bi:pencil"></span>რედაქტირება</button>
        <form class="d-inline-block" asp-controller="Category" asp-action="DeleteCategory" method="post">
            <input type="hidden" value="@item.Id" name="CategoryID" />
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash"></i> წაშლა
            </button>
        </form>
    </td>
</tr>
}
    </tbody>
</table>


<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">კატეგორიის რედაქტირება</h5>
            </div>
            <div class="modal-body">

                <form enctype="multipart/form-data" asp-controller="Category" asp-action="UpdateCategory" method="post">
                    <div class="mb-3">
                        <label for="Name" class="col-form-label">სახელი</label>
                        <input type="text" class="form-control" id="Name" name="Name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">გაუქმება</button>
                        <input type="submit" class="btn btn-primary" value="შენახვა">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/category.js"></script>